* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: bisque;
}

.game {
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1200px;
}

.card {
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(17, 17, 17, 0.3);
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
}
.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card-face,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
  backface-visibility: hidden;
}

.card-face {
  transform: rotateY(180deg);
}

.card.vira {
  transform: rotateY(180deg);
}
